html,
body {
    height: 100%;
}

#login_page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 1rem;
        margin: auto;

        .form-control {
            position: relative;
            box-sizing: border-box;
            font-size: 16px;

            &:focus {
                z-index: 2;
            }
        }

    }
}
