.input-wrapper {
    position: relative;
}

.error {
    color: red;
    text-align: right;
    font-size: 0.8rem;
    position: absolute;
    top: 100%;
}

.form-control.input-error {
    border-color: red;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    }
}