#sidebar {
  width: 18rem;
}

#report {
  &:hover {
    cursor: pointer;
    background-color: #dae0e5 !important;
  }

  span {
    margin-left: 1rem;
  }
}

#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
}


#sidebar.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;

    &.show {
      display: block;
    }
    
    z-index: 999;
    width: 100%;
  }
}
