#newborn_form {
    .react-datepicker-wrapper {
        display: block;
    }

    .form-check-inline {
        margin-right: 0;
        margin-left: 1rem;
        
    }

    .form-check-input {
        margin-right: 0;
        margin-left: 0.2rem;
    }
}