#newborns {
    .react-datepicker-wrapper {
        display: block;
    }
    table {
        background-color: #fff;
    }
}

.spinner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}