@import "./bootstrap";

html,
body {
    height: 100%;
}
body {
    background-color: #f5f5f5;
    text-align: right;
}

.app {
    height: 100%;
    display: flex;

    nav {
        display: none;
    }

    #content {
        padding: 2rem;
        height: 100%;
        overflow: auto;
        width: 100%;
        flex-grow: 1;
    }

    #sidebar {
        flex-shrink: 0;
        height: 100%;
        overflow: auto;
    }

    @media (max-width: 768px) {
        position: relative;
        margin-top: 3.7rem;

        nav {
            position: fixed;
            display: block;
            top: 0;
            width: 100%;
            z-index: 999;
            
            .toggle-btn {
                text-align: left;
                border: none;
                outline: none;
                background: transparent;
                padding: 1rem;
            }
        }
    }
}
